{% extends "base.html" %}

{% block app_content %}
<div class="d-flex flex-wrap">
    {% if cars %}
        {% for car in cars %}
        <div class="card bg-light mb-3" style="width: 12%; margin:5px 1%;">
            <a href="{{ url_for('view', car_id=car.Id) }}"><img class="card-img-top" src="{{ car.image.outside_large }}" alt="{{ car.description.shortDescr }}"></a>
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">{{ car.description.shortDescr }}</h5>
                    </div>
                    <div>
                        <h5 class="card-title mb-2 text-muted">{{ '{:.0f}'.format(car.price) }}&euro;</h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No cars</p>
    {% endif %}
</div>
{% endblock %}
